<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.victor.vhealth">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".global.VHealthApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.SplashActivity">
        </activity>
        <activity android:name=".ui.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.DetailActivity"/>
        <activity android:name=".ui.activity.MedicineActivity">
        </activity>
        <activity android:name=".ui.activity.ClassifySearchActivity">
        </activity>
        <activity android:name=".ui.activity.KeywordSearchActivity">
        </activity>
        <activity android:name=".ui.activity.PicDetailActivity">
        </activity>
    </application>

</manifest>